.page {
    height: 88vh;
    width: 100vw;
    /* background-color: aqua; */
    display: flex;
    justify-content: center;
    align-items: center;
}

.container{
    /* height: 55%; */
    height: 63%;
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* margin-top: -10vmax; */
    margin-top: -8vmax;
    background-color: white;
    border-radius: 10px; 
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
    /* background-color: greenyellow; */
}

.h1 {
    font-size: 22px;
    font-weight:600;
    margin-bottom: -2px;
    margin-top: 7px;
    /* background-color: red; */
    
}
.input {
    height: 70%;
    width: 62%;
    display: flex;
    flex-direction: column;
    /* background-color: aqua; */
}

.inputval {
  
    font-size: 16px;
    padding: 1.3vmax;
    margin-top: 1.5vmax;
    border-radius: 5px;
    border: 1px solid rgb(206, 203, 203);
    outline: none;
}

.inputval:hover {
    border: 1px solid black;
}
.inputval:focus {
    border: 2px solid black;
}

.btnflex {
    height: 30%;
    width: 62%;
    /* background-color: orange; */
}

.btn {
    width: 100%;
    font-size: 20px;
    padding: 6px;
    color: white;
    border-radius: 5px;
    background-color: rgb(2, 139, 251);
    transition: background-color 0.3s ease; /* Add a transition for smooth hover effect */
    margin-top: -7px;
}

.btn:hover {
    background-color: rgba(148, 242, 7, 0.9); /* Adjust the alpha value to control the hover effect */
    color: black;
  }

  /* @media queries are used to apply specific styles to a web page based on the characteristics of the device or viewport, such as its width, height, or orientation */
  /* enclosed styles will be applied only when the width of the viewport is less than or equal to 768 pixels. */
@media (max-width: 768px) {
    .container {
        width: 80%;
    }
    
    .h1 {
        font-size: 18px;
        margin-bottom: 10px; /* Increase margin-bottom for smaller screens */
    }
    
    .inputval,
    .btn {
        width: 100%;
    }
    
    .btn {
        font-size: 18px;
        padding: 5px;
        margin-top: 10px; /* Adjust margin-top for smaller screens */
    }
}


@media (max-width: 660px) {
    .btnflex  {
        margin-top: -10vmax;
    }
}

@media (max-width: 610px) {
    .btnflex  {
        margin-top: -14vmax;
    }
}
@media (max-width: 551px) {
    .btnflex  {
       font-size: 14px;
    }
}

/*  font-size: 14px; is valid for all screen size less than and equals to 610px */
@media (max-width: 551px) {
    .btnflex  {
        margin-top: -18vmax;
    }

}
@media (max-width: 450px) {
    .btnflex  {
        font-size: 12px;
        margin-top: -20vmax;
    }
    .inputval {
        font-size: 12px;
    }
    .h1 {
       font-size: 15px;
    }
}
@media (max-width: 300px) {
    .btnflex  {
        font-size: 10px;
        margin-top: -22vmax;
    }
    .btn {
        font-size:12px;
    }
}

